* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

html,
body {
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  line-height: 1;
  scrollbar-gutter: stable;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
}

input,
textarea {
  width: 100%;
}

label {
  display: inline-block;
}

button,
select,
option {
  cursor: pointer;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

@font-face {
  font-family: "Lena";
  src: url("../../fonts/Lena.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Kollektif";
  src: url("../../fonts/Kollektif.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Kollektif";
  src: url("../../fonts/Kollektif-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
.button-border-flip {
  position: relative;
  color: green;
  background-color: rgba(255, 255, 255, 0.6);
  -webkit-transition: background-color, 0.3s, 0.5s;
  transition: background-color, 0.3s, 0.5s;
}
.button-border-flip::before {
  content: "";
  position: absolute;
  inset: 0px;
  -webkit-transform: perspective(300px) rotateX(0deg);
          transform: perspective(300px) rotateX(0deg);
  border: 2px solid currentColor;
  border-radius: 5px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
@media (hover: hover) and (pointer: fine) {
  .button-border-flip:hover, .button-border-flip:focus-within {
    background-color: rgba(255, 255, 255, 0.9);
  }
}
@media (hover: none) and (pointer: coarse) {
  .button-border-flip:active, .button-border-flip:focus, .button-border-flip:focus-within {
    background-color: rgba(255, 255, 255, 0.9);
  }
}
@media (hover: hover) and (pointer: fine) {
  .button-border-flip:hover::before, .button-border-flip:focus-within::before {
    -webkit-transition: 0.3s;
    transition: 0.3s;
    border: 4px solid currentColor;
    -webkit-transform: perspective(350px) rotateX(-180deg);
            transform: perspective(350px) rotateX(-180deg);
  }
}
@media (hover: none) and (pointer: coarse) {
  .button-border-flip:active::before, .button-border-flip:focus::before, .button-border-flip:focus-within::before {
    -webkit-transition: 0.3s;
    transition: 0.3s;
    border: 4px solid currentColor;
    -webkit-transform: perspective(350px) rotateX(-180deg);
            transform: perspective(350px) rotateX(-180deg);
  }
}

.burger:after, .burger:before, .burger span {
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  background-color: #000;
  width: 40px;
  height: 3px;
  border-radius: 0;
}

.burger span {
  margin-top: -1.5px;
}
.burger:before {
  content: "";
  margin-top: -16.5px;
}
.burger:after {
  content: "";
  margin-top: 13.5px;
}
@media (max-width: 1024px) {
  .burger {
    width: 40px;
    height: 40px;
    display: inline-block;
    position: relative;
    background-color: transparent;
    border: 0;
    padding: 0;
    outline: none;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    -webkit-touch-callout: none;
    -ms-touch-action: manipulation;
        touch-action: manipulation;
    cursor: pointer;
  }
}
@media (min-width: 1024.9px) {
  .burger {
    display: none;
  }
}

.translate-center span {
  -webkit-transition: 0.2s ease-in-out 0.2s;
  transition: 0.2s ease-in-out 0.2s;
}
.translate-center:before, .translate-center:after {
  -webkit-transition: margin 0.2s ease-in-out 0.2s, -webkit-transform 0.2s ease-in-out 0s;
  transition: margin 0.2s ease-in-out 0.2s, -webkit-transform 0.2s ease-in-out 0s;
  transition: margin 0.2s ease-in-out 0.2s, transform 0.2s ease-in-out 0s;
  transition: margin 0.2s ease-in-out 0.2s, transform 0.2s ease-in-out 0s, -webkit-transform 0.2s ease-in-out 0s;
}
.translate-center.active span {
  background-color: rgba(0, 0, 0, 0);
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}
.translate-center.active:before, .translate-center.active:after {
  margin-top: 0;
  -webkit-transition-delay: 0s, 0.25s, 0.25s;
          transition-delay: 0s, 0.25s, 0.25s;
}
.translate-center.active:before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
.translate-center.active:after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.button {
  width: min(100%, 592px);
  position: relative;
  left: 0;
  top: 0;
  padding: 0.5625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  color: #000;
  border-radius: 3px;
  border: 1px solid currentColor;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  overflow: hidden;
  z-index: 2;
}
.button span,
.button strong {
  position: relative;
  top: 0;
  left: 0;
  z-index: 2;
}
.button {
  font-size: 1.25rem;
}
@media (max-width: 1466px) {
  .button {
    font-size: calc(0.875rem + (0.375) * (100vw - 20rem) / (71.625));
  }
}
.button::after {
  content: "";
  position: absolute;
  top: 0;
  right: -100%;
  z-index: -1;
  width: 52%;
  height: 110%;
  background-color: #dc754f;
  clip-path: polygon(0% 1.5%, 85% 0%, 100.1% 0%, 100.1% 100.3%, 85% 100%, 28.6% 99.8%, 25.4% 90.8%, 4.1% 18%);
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}
@media (hover: hover) and (pointer: fine) {
  .button:hover::after, .button:focus-within::after {
    right: 0;
  }
}
@media (hover: none) and (pointer: coarse) {
  .button:active::after, .button:focus::after, .button:focus-within::after {
    right: 0;
  }
}
@media (hover: hover) and (pointer: fine) {
  .button:hover, .button:focus-within {
    border: 1px solid rgb(220, 117, 79);
  }
}
@media (hover: none) and (pointer: coarse) {
  .button:active, .button:focus, .button:focus-within {
    border: 1px solid rgb(220, 117, 79);
  }
}

.buttons-lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 7px;
     -moz-column-gap: 7px;
          column-gap: 7px;
}
.buttons-lang__line {
  background-color: #fff;
  width: 1px;
}
.buttons-lang__lang {
  font-size: 1.125rem;
}
@media (max-width: 1466px) {
  .buttons-lang__lang {
    font-size: calc(0.875rem + (0.25) * (100vw - 20rem) / (71.625));
  }
}
.buttons-lang__lang {
  text-transform: uppercase;
}
.buttons-lang__lang--bold {
  font-weight: bold;
}

.footer {
  background-color: #000;
  color: #fff;
}
.footer__container {
  max-width: 1320px;
  margin-inline: auto;
  overflow-x: clip;
  padding-inline: 36px;
}
@media (max-width: 1466px) {
  .footer__container {
    padding-inline: calc(15px + (21) * (100vw - 320px) / (1146));
  }
}
.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 108px;
}
@media (max-width: 1466px) {
  .footer__content {
    row-gap: calc(52px + (56) * (100vw - 320px) / (1146));
  }
}
.footer__content {
  padding-top: 132px;
}
@media (max-width: 1466px) {
  .footer__content {
    padding-top: calc(70px + (62) * (100vw - 320px) / (1146));
  }
}
.footer__content {
  padding-bottom: 89px;
}
@media (max-width: 1466px) {
  .footer__content {
    padding-bottom: calc(40px + (49) * (100vw - 320px) / (1146));
  }
}
.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}
.footer__lang {
  -ms-flex-item-align: start;
      align-self: start;
}
@media (max-width: 600px) {
  .footer .footer__top {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-column-gap: 10px;
       -moz-column-gap: 10px;
            column-gap: 10px;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .footer .logo--footer {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .footer .footer__lang {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-bottom: 108px;
  }
}
@media (max-width: 600px) and (max-width: 1466px) {
  .footer .footer__lang {
    margin-bottom: calc(52px + (56) * (100vw - 320px) / (1146));
  }
}
@media (max-width: 600px) {
  .footer .footer-menu {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}

.footer-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 120px;
     -moz-column-gap: 120px;
          column-gap: 120px;
}
.footer-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 1rem;
}
.footer-menu__link {
  font-weight: 700;
  color: #fff;
  font-size: 1.125rem;
}
@media (max-width: 1466px) {
  .footer-menu__link {
    font-size: calc(0.875rem + (0.25) * (100vw - 20rem) / (71.625));
  }
}

.header {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 50;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: #fff;
}
.header__container {
  max-width: 1366px;
  margin-inline: auto;
  overflow-x: clip;
  padding-inline: 36px;
}
@media (max-width: 1466px) {
  .header__container {
    padding-inline: calc(15px + (21) * (100vw - 320px) / (1146));
  }
}
.header__content {
  width: 100%;
  padding-block: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__menu {
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__logo {
  position: relative;
  left: 0;
  top: 0;
  z-index: 5;
}

.header.scrolling {
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(18px);
}

.link span {
  position: relative;
}
@media (hover: hover) and (pointer: fine) {
  .link span:hover::before, .link span:focus-within::before {
    -webkit-transform: scaleX(1) translateY(0px);
        -ms-transform: scaleX(1) translateY(0px);
            transform: scaleX(1) translateY(0px);
  }
}
@media (hover: none) and (pointer: coarse) {
  .link span:active::before, .link span:focus::before, .link span:focus-within::before {
    -webkit-transform: scaleX(1) translateY(0px);
        -ms-transform: scaleX(1) translateY(0px);
            transform: scaleX(1) translateY(0px);
  }
}
.link span::before {
  content: "";
  position: absolute;
  height: 2px;
  bottom: 0;
  left: 0;
  right: 0;
  color: inherit;
  background-color: currentColor;
  -webkit-transform: scaleX(0) translateY(5px);
      -ms-transform: scaleX(0) translateY(5px);
          transform: scaleX(0) translateY(5px);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.logo {
  width: 180px;
}
@media (max-width: 1466px) {
  .logo {
    width: calc(90px + (90) * (100vw - 320px) / (1146));
  }
}
.logo {
  height: 52px;
}
@media (max-width: 1466px) {
  .logo {
    height: calc(25px + (27) * (100vw - 320px) / (1146));
  }
}
.logo {
  overflow: hidden;
}
.logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

.logo--footer {
  width: 250px;
}
@media (max-width: 1466px) {
  .logo--footer {
    width: calc(125px + (125) * (100vw - 320px) / (1146));
  }
}
.logo--footer {
  height: 72px;
}
@media (max-width: 1466px) {
  .logo--footer {
    height: calc(32px + (40) * (100vw - 320px) / (1146));
  }
}

@media (max-width: 1024.9px) {
  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100svh;
    width: 100%;
    padding: 100px 30px 30px;
    background: -webkit-gradient(linear, left bottom, left top, from(#e093a0), to(#ecddce));
    background: linear-gradient(0deg, #e093a0 0%, #ecddce 100%);
    -webkit-transition: 0.3s;
    transition: 0.3s;
    overflow: auto;
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 80px;
    left: -100%;
    top: 0;
    backdrop-filter: blur(5px);
    -webkit-transition: 0.3s;
    transition: 0.3s;
    z-index: 2;
  }
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 2rem;
  }
}
@media (min-width: 1025px) {
  .menu__list {
    padding-block: 0.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-column-gap: 64px;
       -moz-column-gap: 64px;
            column-gap: 64px;
    row-gap: 1.5rem;
  }
}
.menu__link {
  display: inline-block;
  font-weight: 400;
  color: #000;
  font-size: 1.25rem;
}
@media (max-width: 1466px) {
  .menu__link {
    font-size: calc(1.5rem + (-0.25) * (100vw - 20rem) / (71.625));
  }
}

.menu__body.open {
  left: 0%;
}
.menu__body.open::before {
  left: 0;
}

.menu__link.active {
  color: #dc754f;
}

.page {
  min-width: 320px;
  font-family: "Kollektif";
  color: #000;
  background-color: #fff;
  font-weight: 400;
  overflow-x: clip;
  font-size: calc(0.875rem + (0.125) * (100vw - 20rem) / (27.99875));
}
@media (min-width: 767.98px) {
  .page {
    font-size: calc(1rem + (0.125) * (100vw - 47.99875rem) / (43.62625));
  }
}
@media (min-width: 1466px) {
  .page {
    font-size: 1.125rem;
  }
}

.page.lock {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: clip;
}
.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

.privacy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 7px;
     -moz-column-gap: 7px;
          column-gap: 7px;
}
.privacy__line {
  background-color: #fff;
  width: 1px;
}
.privacy__link {
  font-size: 1.125rem;
}
@media (max-width: 1466px) {
  .privacy__link {
    font-size: calc(0.875rem + (0.25) * (100vw - 20rem) / (71.625));
  }
}

.section-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 42px;
}
@media (max-width: 1466px) {
  .section-header {
    row-gap: calc(22px + (20) * (100vw - 320px) / (1146));
  }
}
.section-header__slogan {
  font-family: "Lena";
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.25rem;
}
@media (max-width: 1466px) {
  .section-header__slogan {
    font-size: calc(1rem + (0.25) * (100vw - 20rem) / (71.625));
  }
}
.section-header__title {
  font-weight: 700;
  text-align: center;
  font-size: 3.125rem;
}
@media (max-width: 1466px) {
  .section-header__title {
    font-size: calc(1.5rem + (1.625) * (100vw - 20rem) / (71.625));
  }
}

.section-label {
  padding: 1.3125rem;
  background-color: #000;
  width: 76.73vw;
  translate: 0 -50%;
}
@media (min-width: 767.98px) {
  .section-label {
    width: 50vw;
  }
}
.section-label__title {
  max-width: 650px;
  margin-left: auto;
  color: #fff;
}
.section-label__title span {
  font-family: "Lena";
  font-weight: 400;
}
.section-label__title span,
.section-label__title strong {
  color: #fff;
  font-size: 1.875rem;
}
@media (max-width: 1466px) {
  .section-label__title span,
  .section-label__title strong {
    font-size: calc(1rem + (0.875) * (100vw - 20rem) / (71.625));
  }
}
.section-label__title {
  padding-left: 44px;
}
@media (max-width: 1466px) {
  .section-label__title {
    padding-left: calc(22px + (22) * (100vw - 320px) / (1146));
  }
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 1.625rem;
}
@media (max-width: 1466px) {
  .socials {
    row-gap: calc(1rem + (0.625) * (100vw - 20rem) / (71.625));
  }
}
.socials__title {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
  font-weight: 700;
  font-size: calc(1.125px + (0 1.5-1.125) * (100vw - 320px) / (447.98));
}
@media (min-width: 767.98px) {
  .socials__title {
    font-size: calc(0 1.5px + (rem-0 1.5) * (100vw - 767.98px) / (698.02));
  }
}
@media (min-width: 1466px) {
  .socials__title {
    font-size: rempx;
  }
}
.socials__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 14px;
     -moz-column-gap: 14px;
          column-gap: 14px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.socials__link svg path,
.socials__link svg g {
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}
@media (hover: hover) and (pointer: fine) {
  .socials__link svg:hover g, .socials__link svg:focus-within g {
    fill: #dc754f;
  }
}
@media (hover: none) and (pointer: coarse) {
  .socials__link svg:active g, .socials__link svg:focus g, .socials__link svg:focus-within g {
    fill: #dc754f;
  }
}
@media (hover: hover) and (pointer: fine) {
  .socials__link svg:hover path, .socials__link svg:focus-within path {
    fill: #dc754f;
  }
}
@media (hover: none) and (pointer: coarse) {
  .socials__link svg:active path, .socials__link svg:focus path, .socials__link svg:focus-within path {
    fill: #dc754f;
  }
}

.subtitle {
  font-weight: 700;
  font-size: 1.875rem;
}
@media (max-width: 1466px) {
  .subtitle {
    font-size: calc(0.9375rem + (0.9375) * (100vw - 20rem) / (71.625));
  }
}

.white-section-text__container {
  max-width: 1200px;
  margin-inline: auto;
  overflow-x: clip;
  padding-inline: 36px;
}
@media (max-width: 1466px) {
  .white-section-text__container {
    padding-inline: calc(15px + (21) * (100vw - 320px) / (1146));
  }
}
.white-section-text__container {
  padding-block: 100px;
}
@media (max-width: 1466px) {
  .white-section-text__container {
    padding-block: calc(50px + (50) * (100vw - 320px) / (1146));
  }
}
.white-section-text__container p {
  line-height: 166.666667%;
  text-align: justify;
  font-size: 1.125rem;
}
@media (max-width: 1466px) {
  .white-section-text__container p {
    font-size: calc(0.875rem + (0.25) * (100vw - 20rem) / (71.625));
  }
}
.white-section-text__container p:not(:last-child) {
  margin-bottom: 3.125rem;
}
@media (max-width: 1466px) {
  .white-section-text__container p:not(:last-child) {
    margin-bottom: calc(1.25rem + (1.875) * (100vw - 20rem) / (71.625));
  }
}
.white-section-text__title {
  font-weight: 700;
  margin-bottom: 1.25rem;
}
@media (max-width: 1466px) {
  .white-section-text__title {
    margin-bottom: calc(0.625rem + (0.625) * (100vw - 20rem) / (71.625));
  }
}
.white-section-text__text {
  margin-bottom: 1.875rem;
}
@media (max-width: 1466px) {
  .white-section-text__text {
    margin-bottom: calc(1.25rem + (0.625) * (100vw - 20rem) / (71.625));
  }
}
.white-section-text__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 0.75rem;
}
.white-section-text__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.white-section-text__item::before {
  content: "";
  width: 4px;
  height: 4px;
  margin-right: 0.75rem;
  border-radius: 50%;
  background-color: currentColor;
}

.only-title {
  background: -webkit-gradient(linear, left bottom, left top, from(#e093a0), to(#ecddce));
  background: linear-gradient(0deg, #e093a0 0%, #ecddce 100%);
}
.only-title__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 79px;
}
@media (max-width: 1466px) {
  .only-title__container {
    padding: calc(32px + (47) * (100vw - 320px) / (1146));
  }
}

.hero-page__top {
  background: -webkit-gradient(linear, left bottom, left top, from(#e093a0), to(#ecddce));
  background: linear-gradient(0deg, #e093a0 0%, #ecddce 100%);
  padding-top: 20px;
  margin-bottom: 113px;
}
@media (max-width: 1466px) {
  .hero-page__top {
    margin-bottom: calc(25px + (88) * (100vw - 320px) / (1146));
  }
}
.hero-page__container {
  max-width: 1320px;
  margin-inline: auto;
  overflow-x: clip;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-inline: 36px;
}
@media (max-width: 1466px) {
  .hero-page__container {
    padding-inline: calc(15px + (21) * (100vw - 320px) / (1146));
  }
}
.hero-page__container {
  -webkit-column-gap: 110px;
     -moz-column-gap: 110px;
          column-gap: 110px;
}
@media (max-width: 1466px) {
  .hero-page__container {
    -webkit-column-gap: calc(20px + (90) * (100vw - 320px) / (1146));
       -moz-column-gap: calc(20px + (90) * (100vw - 320px) / (1146));
            column-gap: calc(20px + (90) * (100vw - 320px) / (1146));
  }
}
@media (min-width: 767.98px) {
  .hero-page__container {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}
.hero-page__img {
  aspect-ratio: 750/500;
  translate: 0 20%;
  width: 750px;
}
@media (max-width: 1466px) {
  .hero-page__img {
    width: calc(280px + (470) * (100vw - 320px) / (1146));
  }
}
.hero-page__img {
  overflow: hidden;
}
.hero-page__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.order {
  background: #ecddce;
}
.order__container {
  max-width: 715px;
  margin-inline: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-x: clip;
  padding-inline: 36px;
}
@media (max-width: 1466px) {
  .order__container {
    padding-inline: calc(15px + (21) * (100vw - 320px) / (1146));
  }
}
.order__container {
  padding-top: 74px;
}
@media (max-width: 1466px) {
  .order__container {
    padding-top: calc(30px + (44) * (100vw - 320px) / (1146));
  }
}
.order__container {
  padding-bottom: 100px;
}
@media (max-width: 1466px) {
  .order__container {
    padding-bottom: calc(50px + (50) * (100vw - 320px) / (1146));
  }
}
.order__title strong {
  font-weight: 700;
}
.order__title span {
  font-family: "Lena";
  font-weight: 400;
}
.order__title {
  font-size: 2.5rem;
}
@media (max-width: 1466px) {
  .order__title {
    font-size: calc(1.25rem + (1.25) * (100vw - 20rem) / (71.625));
  }
}
.order__title {
  margin-bottom: 50px;
}
@media (max-width: 1466px) {
  .order__title {
    margin-bottom: calc(20px + (30) * (100vw - 320px) / (1146));
  }
}
.order__subtitle {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
  margin-inline: auto;
}
.order__text p {
  text-align: center;
}
.order__text p:not(:last-child) {
  margin-bottom: 0.625rem;
}
.order__text {
  margin-bottom: 89px;
}
@media (max-width: 1466px) {
  .order__text {
    margin-bottom: calc(36px + (53) * (100vw - 320px) / (1146));
  }
}

.catering__text {
  margin-bottom: 50px;
}
@media (max-width: 1466px) {
  .catering__text {
    margin-bottom: calc(20px + (30) * (100vw - 320px) / (1146));
  }
}

.values {
  position: relative;
  background: -webkit-gradient(linear, left bottom, left top, from(#e093a0), to(#ecddce));
  background: linear-gradient(0deg, #e093a0 0%, #ecddce 100%);
  padding-block: 132px;
}
@media (max-width: 1466px) {
  .values {
    padding-block: calc(64px + (68) * (100vw - 320px) / (1146));
  }
}
.values__label {
  position: absolute;
  top: 0;
  left: 0;
}
.values__container {
  max-width: 1315px;
  margin-inline: auto;
  overflow-x: clip;
  padding-inline: 36px;
}
@media (max-width: 1466px) {
  .values__container {
    padding-inline: calc(15px + (21) * (100vw - 320px) / (1146));
  }
}
.values__content {
  display: grid;
  grid-template-columns: repeat(1, minmax(280px, 513px));
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-column-gap: 1rem;
     -moz-column-gap: 1rem;
          column-gap: 1rem;
  row-gap: 60px;
}
@media (max-width: 1466px) {
  .values__content {
    row-gap: calc(30px + (30) * (100vw - 320px) / (1146));
  }
}
@media (min-width: 767.98px) {
  .values__content {
    grid-template-columns: repeat(2, minmax(280px, 513px));
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.card-values {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ecddce;
  padding-inline: 52px;
}
@media (max-width: 1466px) {
  .card-values {
    padding-inline: calc(20px + (32) * (100vw - 320px) / (1146));
  }
}
.card-values {
  padding-block: 56px;
}
@media (max-width: 1466px) {
  .card-values {
    padding-block: calc(26px + (30) * (100vw - 320px) / (1146));
  }
}
.card-values__img {
  aspect-ratio: 1/1;
  overflow: hidden;
}
.card-values__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}
.card-values__img {
  margin-bottom: 28px;
}
@media (max-width: 1466px) {
  .card-values__img {
    margin-bottom: calc(14px + (14) * (100vw - 320px) / (1146));
  }
}
.card-values__title {
  margin-bottom: 40px;
}
@media (max-width: 1466px) {
  .card-values__title {
    margin-bottom: calc(20px + (20) * (100vw - 320px) / (1146));
  }
}
.card-values__text p {
  text-align: justify;
  line-height: 166.666667%; /* 30px/18 */
}
.card-values__text p:not(:last-child) {
  margin-bottom: 0.625rem;
}

.home__container {
  max-width: 1315px;
  margin-inline: auto;
  overflow-x: clip;
  padding-inline: 36px;
}
@media (max-width: 1466px) {
  .home__container {
    padding-inline: calc(15px + (21) * (100vw - 320px) / (1146));
  }
}
.home__locations {
  position: relative;
}

.hero {
  background: -webkit-gradient(linear, left bottom, left top, from(#e093a0), to(#ecddce));
  background: linear-gradient(0deg, #e093a0 0%, #ecddce 100%);
}
.hero__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.hero__img {
  aspect-ratio: 1/1;
  max-width: 47.78vw;
  overflow: hidden;
}
.hero__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.hero__text-content {
  max-width: 392px;
  justify-self: flex-end;
  margin-right: auto;
}
.hero__header {
  margin-bottom: 3.25rem;
}
@media (max-width: 1466px) {
  .hero__header {
    margin-bottom: calc(1.375rrem + (1.875r) * (100vw - 20rem) / (71.625));
  }
}
.hero__title {
  font-size: 3.125rem;
}
@media (max-width: 1466px) {
  .hero__title {
    font-size: calc(1.375rrem + (1.75r) * (100vw - 20rem) / (71.625));
  }
}
.hero__button span {
  font-family: "Lena";
  font-weight: 400;
}

.locations__label {
  position: absolute;
  top: 0;
  left: 0;
}

.locations-top {
  background: -webkit-gradient(linear, left bottom, left top, from(#e093a0), to(#ecddce));
  background: linear-gradient(0deg, #e093a0 0%, #ecddce 100%);
  padding-top: 127px;
}
@media (max-width: 1466px) {
  .locations-top {
    padding-top: calc(60px + (67) * (100vw - 320px) / (1146));
  }
}
.locations-top {
  padding-bottom: 91px;
}
@media (max-width: 1466px) {
  .locations-top {
    padding-bottom: calc(40px + (51) * (100vw - 320px) / (1146));
  }
}

.locations-bottom__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.locations-bottom__column {
  width: 50vw;
}
.locations-bottom__container {
  max-width: 708px;
  margin-inline: auto;
  overflow-x: clip;
  padding-inline: 36px;
}
@media (max-width: 1466px) {
  .locations-bottom__container {
    padding-inline: calc(15px + (21) * (100vw - 320px) / (1146));
  }
}
.locations-bottom__column:nth-child(1) {
  background-color: #f4d8dd;
}
.locations-bottom__column:nth-child(2) {
  background-color: #ecddce;
}

.locations-bottom-item {
  max-width: 340px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 91px;
}
@media (max-width: 1466px) {
  .locations-bottom-item {
    padding-top: calc(40px + (51) * (100vw - 320px) / (1146));
  }
}
.locations-bottom-item {
  padding-bottom: 131px;
}
@media (max-width: 1466px) {
  .locations-bottom-item {
    padding-bottom: calc(60px + (71) * (100vw - 320px) / (1146));
  }
}
.locations-bottom-item__title {
  text-align: center;
  margin-inline: auto;
}
.locations-bottom-item__title span {
  font-family: "Lena";
  font-weight: 400;
}
.locations-bottom-item__title {
  font-size: 2.5rem;
}
@media (max-width: 1466px) {
  .locations-bottom-item__title {
    font-size: calc(1.25rem + (1.25) * (100vw - 20rem) / (71.625));
  }
}
.locations-bottom-item__button span {
  font-family: "Lena";
  font-weight: 400;
}