@use "../utils/_index.scss" as *;

.button {
  width: min(100%, 592px);
  position: relative;
  left: 0;
  top: 0;
  padding: 0.5625rem;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  color: $text-color-main;

  border-radius: 3px;
  border: 1px solid currentColor;
  transition: $transition-duraction ease-in-out;
  cursor: pointer;
  overflow: hidden;
  z-index: 2;
  span,
  strong {
    position: relative;
    top: 0;
    left: 0;
    z-index: 2;
  }
  @include adaptive-property(font-size, 0.875, 0, 1.25, rem);

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: -100%;
    z-index: -1;
    width: 52%;
    height: 110%;
    background-color: rgb(220, 117, 79);
    clip-path: polygon(
      0% 1.5%,
      85% 0%,
      100.1% 0%,
      100.1% 100.3%,
      85% 100%,
      28.6% 99.8%,
      25.4% 90.8%,
      4.1% 18%
    );
    transition: $transition-duraction ease-out;
  }
  @include hover-pseudo("::after") {
    right: 0;
  }
  @include hover {
    border: 1px solid rgb(220, 117, 79);
  }
}
