@use "../utils/_index.scss" as *;

.button {
  width: min(100%, 480px);
  position: relative;
  left: 0;
  right: 0;
  padding-block: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #2b9ee7;

  font-size: 1.5rem;
  font-weight: 500;
  line-height: 150%;

  border-radius: 20px;
  border: 2px solid #6cafd9;
  background: #c9e4ea;
  transition: $transition-duraction;
  cursor: pointer;
  z-index: 1;
  overflow: hidden;
}

.section-header {
  &__slogan {
    @include font-lena;
    text-transform: uppercase;
    @include adaptive-property(font-size, 1, 0, 1.25, rem);
    @include adaptive-property(margin-bottom, 22, 0, 42);
  }
  &__title {
    font-weight: 700;
    @include adaptive-property(font-size, 1.5, 0, 3.125, rem);
  }
}
.section-label {
  padding: 1.3125rem;
  background-color: $text-color-main;
  width: 76.73%;
  @include on-mobile-l {
    width: 50%;
  }
  &__title {
    color: $bg-color-main;
    span {
      @include font-lena;
    }
    span, strong {
      color: $bg-color-main;
      @include adaptive-property(font-size, 1, 0, 1.875, rem);
    }
  }
}
.subtitle {
  font-weight: 700;
  @include adaptive-property(font-size, 0.9375, 0, 1.875, rem);
}
.buttons-lang {
  display: flex;
  column-gap: 7px;
  &__line {
    background-color: $bg-color-main;
    width: 1px;
  }
  &__lang {
    @include adaptive-property(font-size, 0.875, 0, 1.125, rem);
    text-transform: uppercase;
  }
  &__lang--bold {
    font-weight: bold;
  }
}
.privacy {
    display: flex;
    column-gap: 7px;
    &__line {
    background-color: $bg-color-main;
    width: 1px;
  }
    &__link {
      @include adaptive-property(font-size, 0.875, 0, 1.125, rem);
    }
}
.socials {
  display: flex;
  flex-direction: column;
    @include adaptive-property(row-gap, 1, 0, 1.625, rem);
  &__title {
    width: fit-content;
    text-align: center;
    font-weight: 700;
    @include adaptive-property(font-size, 1.125, 0 1.5, rem);
  }
  &__list {
    display: flex;
    column-gap: 14px;
    align-items: center;
  }
}
.logo {
  @include adaptive-property(width, 90, 0, 180);
  @include adaptive-property(height, 25, 0, 52);
  @include ibg(contain);
}
.logo--footer {
  @include adaptive-property(width, 125, 0, 250);
  @include adaptive-property(height, 32, 0, 72);
}