@use "../utils/_index" as *;

.header {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 50;
  transition: $transition-duraction;

  &__container {
    max-width: 1366px;
    margin-inline: auto;
    overflow-x: clip;
    @include adaptive-property(padding-inline, 15, 0, 36);
  }

  &__content {
    width: 100%;
    padding-block: 21px;
    @include flex(space-between, center);
  }

  &__menu {
    column-gap: 10px;
    @include flex(space-between, center);
  }

  &__logo {
    position: relative;
    left: 0;
    top: 0;
    z-index: 5;
  }
}

.header.scrolling {
  background: rgba(79, 79, 84, 0.2);
  backdrop-filter: blur(18px);
}

.header.hidden {
  opacity: 0;
  transform: translateY(-30px);
}
