@use "../utils/_index.scss" as *;

.logo {
  flex-shrink: 0;
  @include adaptive-property(width, 120, 0, 180);
  @include adaptive-property(height, 35, 0, 52);
  @include ibg(contain);
  img {
    transition: $transition-duraction linear;
  }

  @include hover-pseudo(" img") {
    filter: brightness(0) saturate(100%) invert(14%) sepia(100%) saturate(7495%)
      hue-rotate(0deg) brightness(100%) contrast(120%);
  }
}
.logo--footer {
  @include adaptive-property(width, 125, 0, 250);
  @include adaptive-property(height, 32, 0, 72);
}
