@use "../utils/_index.scss" as *;

.section-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include adaptive-property(row-gap, 22, 0, 42);
  &__slogan {
    @include font-lena;
    text-transform: uppercase;
    text-align: center;
    @include adaptive-property(font-size, 1, 0, 1.25, rem);
  }
  &__title {
    font-weight: 700;
    text-align: center;
    @include adaptive-property(font-size, 1.5, 0, 3.125, rem);
  }
}
