@use "../utils/_index.scss" as *;

.socials {
  display: flex;
  flex-direction: column;
  @include adaptive-property(row-gap, 1, 0, 1.625, rem);
  &__title {
    width: fit-content;
    text-align: center;
    font-weight: 700;
    @include adaptive-property(font-size, 1.125, 0 1.5, rem);
  }
  &__list {
    display: flex;
    column-gap: 14px;
    align-items: center;
  }
  &__link {
    svg path,
    svg g {
      transition: $transition-duraction ease-in;
    }
    svg {
      @include hover-pseudo(" g") {
        fill: $color-red;
      }
      @include hover-pseudo(" path") {
        fill: $color-red;
      }
    }
  }
}
