@use "../utils/_index.scss" as *;

.white-section-text {
  &__container {
    max-width: #{$container-white}px;
    margin-inline: auto;
    overflow-x: clip;
    @include adaptive-property(padding-inline, 15, 0, 36);
    @include adaptive-property(padding-block, 50, 0, 100);

    p {
      line-height: 166.666667%;
      text-align: justify;
      @include adaptive-property(font-size, 0.875, 0, 1.125, rem);
    }
    p:not(:last-child) {
      @include adaptive-property(margin-bottom, 1.25, 0, 3.125, rem);
    }
  }
  &__title {
    font-weight: 700;
    @include adaptive-property(margin-bottom, 0.625, 0, 1.25, rem);
  }
  &__text {
    @include adaptive-property(margin-bottom, 1.25, 0, 1.875, rem);
  }
  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 0.75rem;
  }
  &__item {
    position: relative;
    display: flex;
    align-items: center;
    &::before {
      content: "";
      width: 4px;
      height: 4px;
      margin-right: 0.75rem;
      border-radius: 50%;
      background-color: currentColor;
    }
  }
}
.white-section-text.scroll-anim p {
  transition: 450ms linear;
  opacity: 0;
  translate: 0 -30px;
  animation-delay: calc(var(--index) * 200ms);
}
.white-section-text.scroll-anim p.active {
  opacity: 1;
  translate: 0 0px;
}
