@use "../utils/_index.scss" as *;

.home {
  &__container {
    max-width: #{$container-pink-l}px;
    margin-inline: auto;
    overflow-x: clip;
    @include adaptive-property(padding-inline, 15, 0, 36);
  }
  &__locations {
    position: relative;
  }
}
.hero {
  background: $gradient;
  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;
    @include on-mobile-l {
      flex-wrap: nowrap;
    }
  }
  &__img {
    aspect-ratio: 1 / 1;
    width: 100%;
    @include on-mobile-l {
      max-width: 47%;
    }
    @include ibg(cover);
  }
  &__text-content {
    max-width: 464px;
    margin-top: 30px;
    @include adaptive-property(padding-inline, 15, 0, 36);
  }
  &__header {
    @include adaptive-property(margin-bottom, 1.375, 0, 3.25, rem);
  }
  &__title {
    @include adaptive-property(font-size, 1.375, 0, 3.125, rem);
  }
  &__button {
    span {
      @include font-lena;
    }
  }
}
.locations {
  &__label {
    position: absolute;
    top: 0;
    left: 0;
  }
}
.locations-top {
  background: $gradient;
  @include adaptive-property(padding-top, 60, 0, 127);
  @include adaptive-property(padding-bottom, 40, 0, 91);
  &__container {
    max-width: 1315px;
    margin-inline: auto;
    overflow-x: clip;
    @include adaptive-property(padding-inline, 15, 0, 36);
  }
  &__content {
    display: grid;
    grid-template-columns: repeat(1, minmax(280px, 513px));
    justify-content: space-evenly;
    column-gap: 1rem;
    @include adaptive-property(row-gap, 30, 0, 60);
    @include on-mobile-l {
      grid-template-columns: repeat(2, minmax(280px, 513px));
      justify-content: space-between;
    }
  }
}
.locations-bottom {
  &__content {
    display: flex;
    flex-wrap: wrap;
    @include on-mobile-l {
      flex-wrap: nowrap;
    }
  }
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    @include on-mobile-l {
      width: 50vw;
    }
    @include adaptive-property(padding-bottom, 60, 0, 127);
    @include adaptive-property(padding-top, 40, 0, 91);
  }
  &__item:nth-child(1) {
    background-color: #ecddce;
  }
  &__item:nth-child(2) {
    background-color: #f4d8dd;
  }
}
.locations-bottom-item {
  max-width: 410px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  @include adaptive-property(padding-inline, 15, 0, 36);
  &__title {
    text-align: center;
    margin-inline: auto;
    span {
      @include font-lena;
    }
    @include adaptive-property(font-size, 1.25, 0, 2.5, rem);
    @include adaptive-property(margin-bottom, 30, 0, 70);
  }
  &__text {
    flex: 1 1 auto;
    p {
      line-height: 166.666667%; /* 30px/18 */
      text-align: center;
    }
    P:not(:last-child) {
      margin-bottom: 0.625rem;
    }
    @include adaptive-property(margin-bottom, 40, 0, 115);
  }
  &__button {
    span {
      @include font-lena;
    }
  }
}
.locations-place {
  max-width: 513px;
  position: relative;
  &__body {
    background-color: #ecddce;
    @include adaptive-property(padding-inline, 20, 0, 40);
    @include adaptive-property(padding-block, 14, 0, 36);
  }
  &__img {
    aspect-ratio: 513 /288;
    @include ibg(cover);
  }
  &__img.soon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      height: 100%;
      background-color: rgba(217, 217, 217, 0.4);
      z-index: 2;
    }
    &::after {
      content: "Coming Soon";
      position: absolute;
      @include adaptive-property(font-size, 20, 0, 40);
      font-weight: 700;
    }
  }
  &__title {
    font-weight: 700;
    @include adaptive-property(font-size, 0.875 0, 1.875, rem);
    @include adaptive-property(margin-bottom, 0.75, 0, 1.6875, rem);
  }
  &__link {
    @include adaptive-property(margin-bottom, 0.5, 0, 1, rem);
  }
}
.cookies {
  &__content {
    max-width: 986px;
    margin-inline: auto;
    row-gap: 1rem;
    @include adaptive-property(padding-block, 30, 0, 92);
  }
}
.cookie {
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__title {
    font-weight: 700;
    @include adaptive-property(font-size, 0.875, 0, 1.875, rem);
    @include adaptive-property(margin-bottom, 0.75, 0, 1.6875, rem);
  }
  &__img {
    max-width: 350px;
    aspect-ratio: 1 / 1;
    @include ibg(contain);
    z-index: -1;
  }
  &__body {
    max-width: 473px;
    @include adaptive-property(padding-inline, 15, 0, 36);
  }
}
.cookie:nth-child(odd) {
  flex-direction: row-reverse;
}
