@use "../utils/_index.scss" as *;

.open-jobs {
  position: relative;
  &__label {
    position: absolute;
    top: 0;
    left: 0;
  }
  &__container {
    background: $gradient;
    @include adaptive-property(padding-top, 50, 0, 144);
    @include adaptive-property(padding-bottom, 40, 0, 116);
    @include adaptive-property(padding-inline, 15, 0, 36);
  }
  &__content {
    margin-inline: auto;
  }
  &__spollers {
    max-width: 1160px;
    margin-inline: auto;
    background: $bg-color-order;
    @include adaptive-property(padding-inline, 30, 0, 75);
    @include adaptive-property(padding-block, 30, 0, 88);
  }
}
.spoller {
  max-width: 1010px;
  display: grid;
  grid-template-rows: minmax(30px, 65px) 0fr;
  transition: $transition-duraction ease-in-out;
}
.spoller.active {
  grid-template-rows: minmax(30px, 65px) 1fr;
  transition: $transition-duraction ease-in;
  @include adaptive-property(padding-bottom, 20, 0, 40);
}
.spoller__title {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-weight: 700;
  margin-right: 0.5rem;
  border-top: 2px solid $text-color-main;
  @include adaptive-property(padding-block, 0.5, 0, 1.1875, rem);
  @include adaptive-property(padding-inline, 0.625, 0, 1.3125, rem);
  @include adaptive-property(font-size, 0.8, 0, 1.5625, rem);
}
.spoller__title:before {
  content: "";
  position: absolute;
  display: block;
  width: 20px;
  height: 9px;
  transition: $transition-duraction ease-in-out;
  background-image: url("../../images/icons/arrow-down.svg");
  background-position: center;
  background-size: cover;
  @include adaptive-property(right, 0, 0, 27);
}
.spoller.active .spoller__title:before {
  transform: rotate(180deg);
}
.spoller__content {
  overflow: hidden;
  @include adaptive-property(padding-inline, 0.625, 0, 1.3125, rem);
}
.spoller__text {
  p {
    line-height: 166.666667%; /* 30px/18 */
  }
  p:not(:last-child) {
    margin-bottom: 0.625rem;
  }
}
.spoller__subtitle {
  font-weight: 700;
  @include adaptive-property(margin-bottom, 0.5, 0, 0.875, rem);
}
.spoller__text,
.spoller__list {
  display: flex;
  flex-direction: column;
  list-style-type: disc;
  @include adaptive-property(margin-bottom, 20, 0, 42);
  @include adaptive-property(row-gap, 0.375, 0, 0.75, rem);
}
.spoller__button {
  min-width: 245px;
  max-width: max-content;
  margin-inline: auto;
}
